{% extends 'home.html' %}
{% block data %}
<div class="row" align="center">
        <form action="/load-product/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">Name: </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                        <input type="file" class="form-control" placeholder="file" id="product_file" name="file"/>
                    </div>
                </div>
                </div>
            <div class="row"><input type="submit" class="btn btn-info" id="add_products"/></div>
        </form>
</div>
{% endblock %}