<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/products-list/">ProductInfo</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/products-list/" id="home">Home</a></li>
          <li><a href="/products-list/" id="product_list">Products</a></li>
          <li><a href="/webhook-info/" id="web">Webhook</a></li>
          <li><a href="/file-upload/" id="file_upload">Upload File</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <div class="row" align="center">
            {% block data %}
            {% endblock%}
        </div>
    </div>
</body>
</html>