{% extends 'home.html' %}
{% block data %}
<div class="row" align="center">
        <form action="/products-info/{{product.sku}}" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">Name: </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" id="product_name" name="product_name" value="{{product.name}}"/>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Sku: </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="SKU" id="product_sku" name="product_sku" value="{{product.sku}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Desc: </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                             <textarea class="form-control" rows="1" placeholder="Description" id="product_desc" name="product_desc">{{ product.desc }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Is_Active: </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                             <input type="text" class="form-control" placeholder="SKU" id="product_is_active" name="is_active" value="{{product.is_active}}"/>
                        </div>
                    </div>
                </div>
                <div class="row"><input type="Submit" class="btn btn-info" id="add_product" value="Update"></div>
        </form>
    </div>
    <hr/>
{% endblock %}