{% extends 'home.html' %}
{% block data %}
<div class="row" align="center">
    <div class="row" align="center">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row" align="center">
                    <form action="/products-list/">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="product_search" name="query"/>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="active_product" name="is_active">
                                            <option value="True">Active</option>
                                            <option value="False">Inactive</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-info" id="search_product" value="Search">
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row" align="center"><h4>PRODUCT LIST</h4></div>
    <div class="row" align="center">
        <form action="/products-list/" method="POST">
            {% csrf_token %}
        <table class="table">
            <tbody>
                <tr>
                    <td width="30%">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" id="product_name" name="product_name"/>
                        </div>
                    </td>
                    <td width="30%">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="SKU" id="product_sku" name="product_sku"/>
                        </div>
                    </td>
                    <td width="30%">
                        <div class="form-group">
                             <textarea class="form-control" rows="1" placeholder="Description" id="product_desc" name="product_desc"></textarea>
                        </div>
                    </td>
                    <td width="10%"><input type="Submit" class="btn btn-info" id="add_product" value="Add"/></td>
                </tr>
        </tbody>
        </table>
        </form>
    </div>
    <hr/>
    <div class="row" align="center" id="products_info" width="90%">
        <table class="table table-hover">
        <thead>
          <tr width="10%">
              <th width="20%">SKU</th>
              <th width="20%">NAME</th>
              <th width="30%">DESC</th>
              <th width="15%">View</th>
              <th width="15%">Delete</th>
          </tr>
        </thead>
        <tbody id="pdl">
        {% for product in product_list %}
            <tr>
                <td width="20%">{{ product.sku }}</td>
                <td width="20%">{{ product.name }}</td>
                <td width="30%">{{ product.desc }}</td>
                <td width="15%"><a href="/products-info/{{product.sku}}" class="btn btn-info">View</a></td>
                <td width="15%"><a href="/products-delete/{{product.sku}}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6"><a href="/products-list/?{{previous}}" class="btn btn-info">prev</a></div>
        <div class="col-sm-6"><a href="/products-list/?{{next}}" class="btn btn-info">next</a></div></div>
</div>
{% endblock%}


