{% extends 'home.html' %}
{% block data %}
<div class="row" align="center">
<div class="row" id="webhook_info">
                <div class="row" align="center"><h4>WEBHOOK LIST</h4></div>
                    <div class="row">
                        <form action="/webhook-info/" method="POST">
                             {% csrf_token %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="30%">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="webhook_url" name="webhook_url"/>
                                    </div>
                                </td>
                                <td width="30%">
                                    <div class="form-group">
                                      <select class="form-control" id="webhook_event" name="webhook_event">
                                        <option>created</option>
                                        <option>updated</option>
                                      </select>
                                    </div>
                                </td>
                                <td width="10%"><input type="submit" class="btn btn-info" value="Add"/></td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                <hr/>
                <table class="table table-hover">
                <thead>
                  <tr width="10%">
                      <th width="60%">URL</th>
                      <th width="30%">EVENT</th>
                      <!--th width="10%">DELETE</th-->
                  </tr>
                </thead>
                <tbody>
                    {% for webhook in webhook_list %}
                    <tr>
                        <td width="60">{{ webhook.url }}</td>
                        <td width="30">{{ webhook.event }}</td>
                        <!--td width="10"><button type="button" class="btn btn-danger delete_webhook" id="delete_webhook_{{ webhook.id }}">Delete</button></--td-->
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
{% endblock %}

